<div class="d-flex flex-column"
     style=" width:250px;
             margin-left: 3px;
             text-align: center;">

    <a href="/Categories/Index?category=Beverege"class="btn btn-primary">BEVERAGES DEPARTAMENT</a><br />
    <a href="/Categories/Index?category=Fish" class="btn btn-primary">FISH DEPARTAMENT</a><br />
    <a href="/Categories/Index?category=Meat" class="btn btn-primary">MEAT DEPARTAMENT</a><br />
    <a href="/Categories/Index?category=Vegetable" class="btn btn-primary">VEGTABLES DEPARTAMENT</a><br />
</div>