
@using MVC.ViewModels;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model ProductViewModel



<html>
<body style="background-color:thistle">
   
    <h2>Add Product</h2>

    <!-- Если это напитки -->

    <form method="post" action="/categories/add">

        <label>Category</label><br />
        <input required type="text" name="Category" placeholder="Category" autofocus /><br />

        <!-- Поле для названия напитка -->
        <label>Name</label><br />
        <input type="text" name="Name" placeholder="Name" required  /><br />

        <!-- Поле для описания напитка -->
        <label>Quantity</label><br />
        <input type="number" name="Quantity" placeholder="Quantity" required /><br />

        <label>Price</label><br />
        <input required asp-for="Price" type="number" step="0.01" placeholder="Price" /><br />
        <br />
        <!-- Кнопка отправки -->
        <p><input type="submit" value="Add Product" /></p>
    </form>
    <p>
        <a href="/Admin/Adminindex">
            <input type="submit" value="BACK" autofocus />
        </a>
    </p>

</body>
</html>
